<launch>

  <arg name="bagfile" default="/home/libing/rosbag/rgbd/rgbd_dataset_freiburg1_xyz.bag" />



  <!-- Play the bagfile -->
  <node pkg="rosbag" type="play" name="rosbag" args="$(arg bagfile)" />



  <!-- ORB_SLAM2 RGBD -->
  <node pkg="orb_slam2" type="rgbd" name="rgbd" output="screen" args="$(find orb_slam2)../../../Vocabulary/ORBvoc.txt $(find orb_slam2)../../../Examples/RGB-D/TUM1.yaml">
    <remap from="/camera/rgb/image_raw" to="/camera/rgb/image_color"/>
    <remap from="camera/depth_registered/image_raw" to="/camera/depth/image"/>
  </node>

</launch>
